<!-- @format -->

<div id="header">
  <h1
    class="text-5xl fw100 animate-bounce-alt animate-count-infinite animate-duration-1s"
  >
    {{ .body.header.helloworld }}
  </h1>
</div>

<div id="hello">
  <h1
    class="text-5xl fw100 animate-bounce-alt animate-count-infinite animate-duration-1s"
  >
    {{ .body.div.hello }}
  </h1>
</div>
