<div id="header">
  <h1
    class="text-5xl fw100 animate-bounce-alt animate-count-infinite animate-duration-1s"
  >
    {{ .Body.Header.HelloWorld }}
  </h1>
</div>

<div id="hello">
  <h1
    class="text-5xl fw100 animate-bounce-alt animate-count-infinite animate-duration-1s"
  >
    {{ .Body.Div.Hello }}
  </h1>
</div>
