<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .header.meta.title }}</title>
    <meta name="description" content="{{ .Header.Meta.Description }}" />
    <meta name="keywords" content="{{ .Header.Meta.Keywords }}" />
    <!-- Custom CSS + Tailwind -->
    <link rel="stylesheet" href="/assets/css/tailwind.css" />
    <!-- Iconoir -->
    <link rel="stylesheet" href="/libs/iconoir.css" />
    <!-- Alpine -->
    <script src="/libs/alpine.min.js"></script>
    <!-- HTMX min js  -->
    <script src="/libs/htmx.min.js"></script>
    <!-- HTMX SSE -->
    <script src="/libs/htmx-sse.js"></script>
    <!-- Custom JS from assets/js -->
    <script src="/assets/js/custom.js"></script>
  </head>

  <body
    class="IBMPlexSans bg-zinc-200 md:p-8 flex flex-col items-center"
    hx-boost="true"
  >
    <!-- Logo and Title -->
    <div
      id="logo-mascot"
      class="flex flex-col justify-center items-center p-4 mb-4"
    >
      <div class="circle-shadow flex justify-center w-100">
        <img
          src="/assets/imgs/gordon-mascot-hq-trsp.png"
          alt="logo"
          class="sm:h-24 h-32 xl:h-48"
        />
      </div>
      <div class="flex justify-center mt-4">
        <h1
          class="gordon-title text-2xl lg:text-4xl xl:text-5xl text-gordonmascot-hblue tracking-tighter"
        >
          Gordon
        </h1>
        <span class="gordon-v-subtitle text-gordonmascot-mblue text-sm ml-2"
          >v0.0.1</span
        >
      </div>
    </div>

    <!-- Main Content -->
    <div class="bg-white p-4 rounded-md shadow mb-4 w-2/3">
      <!-- Install Traefik -->
      <div id="install-traefik">
        <div class="flex flex-col items-center">
          <h2 class="text-2xl font-semibold text-gray-800">
            1 - Install Traefik
          </h2>
          <!-- Dual view left : install procedure / right : SSE log installation -->
          <div class="flex flex-col md:flex-row justify-items-center w-full">
            <!-- Left -->
            <div class="w-full md:w-1/2 p-4">
              <form
                id="install-traefik-form"
                action="/admin/install/traefik"
                method="POST"
                hx-post="/admin/install/traefik"
                hx-swap="outerHTML"
              >
                <h2 class="">1.1 - Set your top domain name</h2>
                <input
                  type="text"
                  name="topdomain"
                  id="topdomain"
                  class="w-full py-2 px-4 my-2 border border-gray-300 rounded-md"
                  placeholder="example.com"
                />
                <h2>1.2 - Set your admin email (a reachable one)</h2>
                <input
                  type="text"
                  name="adminemail"
                  id="adminemail"
                  class="w-full p-2 border border-gray-300 rounded-md"
                  placeholder="admin@example.com"
                />
                <button
                  type="submit"
                  class="w-full p-2 bg-gordonmascot-hblue text-slate-100 rounded-md mt-4"
                >
                  Save & Install Traefik
                </button>
              </form>
            </div>
            <!-- Right -->
            <div class="w-full md:w-1/2 p-4 text-slate-100">
              <div
                class="flex flex-col items-center bg-gordonmascot-hblue rounded-md"
              >
                <div class="w-full h-64 overflow-y-scroll-auto p-4">
                  <div
                    class="flex flex-col space-y-2"
                    hx-ext="sse"
                    sse-connect="/install/traefik/sse"
                  >
                    <!-- One item -->
                    <div class="flex flex-row items-center">
                      <span class="">[INFO]</span>
                      <span class="">Traefik installed</span>
                    </div>
                    <!-- One item -->
                    <div class="flex flex-row items-center">
                      <span class="">[INFO]</span>
                      <span class="ml-2">Traefik started</span>
                    </div>
                    <!-- One item -->
                    <div class="flex flex-row items-center">
                      <span class="">[INFO]</span>
                      <span class="ml-2"
                        >Traefik configuration file created</span
                      >
                    </div>
                    <!-- One item -->
                    <div class="flex flex-row items-center">
                      <span class="">[INFO]</span>
                      <span class="">Traefik configuration file updated</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Install Traefik -->
    </div>
  </body>
</html>
