package components

// Success displays a success message
templ Success(message string) {
	<div
	  id="success"
	  class="flex text-indigo-600 content-center justify-center items-center w-full h-full">
	  <p class="text-2xl text-center">
	    if message != "" {
	      { message }
	    } else {
	      Success!
	    }
	  </p>
	</div>
}