<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ .header.meta.title }}</title>
  <link rel="stylesheet" href="/assets/css/tailwind.css" />
  <link rel="stylesheet" href="/libs/iconoir.css" />
  <script src="/libs/alpine.min.js" defer></script>
  <script src="/libs/htmx.min.js"></script>
  <script src="/libs/htmx-sse.js"></script>
  <script src="/assets/js/custom.js" defer></script>
</head>