<div
  id="success"
  class="flex text-indigo-600 content-center justify-center items-center w-full h-full">
  <p class="text-2xl text-center">{{if .Message}}{{.Message}}{{else}}Success!{{end}}</p>
</div>
