<div
  id="success"
  class="flex text-blue-800 content-center justify-center items-center w-full h-full">
  <p class="text-2xl text-center">{{if .Message}}{{.Message}}{{else}}Success!{{end}}</p>
</div>
