<div
  id="success"
  _="on load wait 1s then transition opacity to 0 then remove me then wait 1s then call window.location.reload()"
  class="flex text-blue-800 content-center justify-center items-center w-full h-full">
  <p class="text-2xl text-center">Success!</p>
</div>
